* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-display: block;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("./fonts/Inter-roman-latin.var.woff2") format("woff2");
}

@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-display: block;
  font-style: italic;
  font-named-instance: "Italic";
  src: url("./fonts/Inter-italic-latin.var.woff2") format("woff2");
}

:root {
  --bg: #fff;
  --fg: #e5e7eb;
}

body {
  font-family: "Inter var", sans-serif;
}

h1 {
  font-size: 32px;
  font-weight: 700;
}

h2 {
  font-size: 16px;
  font-weight: 600;
}

h3 {
  font-size: 16px;
  font-weight: 500;
}

@keyframes slideDown20 {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
